{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="{% static 'viewapp/favicon.ico' %}">
    <title>Frontend</title>
    <script defer src="{% static 'viewapp/js/chunk-vendors.76e4f8e9.js' %}"></script>
    <script defer src="{% static 'viewapp/js/app.b6bb5d69.js' %}"></script>
    <link href="{% static 'viewapp/css/app.e86d8892.css' %}" rel="stylesheet">
</head>
<body>
    <noscript>
        <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</body>
</html>
